.emergency-wallet-page {
  min-height: 100vh;
  padding: 15px;
  font-family: var(--font-family);
  margin: 0 auto;
}

.wallet-content {
  max-width: 1500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.wallet-grid-two {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

@media (max-width: 768px) {
  .emergency-wallet-page {
    padding: 0px;
  }
  .wallet-content {
    gap: 16px; 
  }
}
