.sidebar-navi {
  /* background: #0f766e; */
  height:90vh;
    position: fixed;
  top: 0;
  left: 0;
  width: 280px;
  top: 64px;
  padding: 1.5rem 2.5rem;
  box-sizing: border-box;
  background-color: #0c5e58;

  @media (max-width: 768px) {
    display: none;
  }
}

.sidebar-nav {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  /* background-color: red; */
}

.sidebar-link {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 0.75rem 1rem;
  border-radius: 12px;
  color: #ccfbf1;
  text-decoration: none;
  font-size: 13px;
  font-weight: 400;
  transition: all 0.2s;

  &:hover {
    background: rgba(255, 255, 255, 0.1);
  }

  &.active {
    background: #ffffff;
    color: #0f766e;
    font-weight: 600;
  }
}

.sidebar-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
