.landingpage-container {
  width: 100%;
  height: 100vh;
  background: red;
  display: flex;
  justify-content: center;
}
.landingpage-wrapper {
  width: 95%;
  height: 100%;
  background: #b9cf0d;
  /* display: flex; */
}
.landingpage {
  width: 100%;
  height: 100%;
  background: #0881cd;
  display: flex;
}
.landingpage-left{
    width:50%;
    height:100%;
    background:pink;
}
.landingpage-right{
    width:50%;
    height:100%;
    background:orange;
}
